<div class="col-xs-12 col-xl-10 offset-xl-1">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
        (change)="masterToggle()"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        class="dark-blue-checkbox">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index">
        <mat-checkbox

          (click)="$event.stopPropagation()"
          (change)="selection.toggle(row); onToggle(i)"
          [checked]="isCompleted(i)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name | lowercase}} </mat-cell>
    </ng-container>


    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
    </ng-container>

    <!-- Unit Column -->
    <ng-container matColumnDef="unit">
      <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element; let i=index" (click)="$event.stopPropagation()">
        <div fxLayout>
          <button mat-icon-button matTooltip="Edit ingredient" matTooltipPosition="above" (click)="editIngredient(element, i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Delete ingredient" matTooltipPosition="above" class="mat-red-icon" (click)="deleteIngredient(element, i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; let i=index; columns: displayedColumns;"
      [ngClass]="{hovered: row.hovered && row.isCompleted, highlighted: row.isCompleted}"
      (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"
      (click)="selection.toggle(row); onToggle(i)"></mat-row>
  </table>
  <div class="buttons">
    <button mat-stroked-button class="theme-accent-dark" (click)="addIngredient()">
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="5px">
        <mat-icon>add</mat-icon>
        <span>ADD ITEM</span>
      </div>
    </button>
    <span class="space"> </span>
    <!-- <button mat-stroked-button class="theme-accent-dark" (click)="deleteAllSelected()">
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="5px">
        <mat-icon>delete</mat-icon>
        <span>DELETE SELECTED</span>
      </div>
    </button> -->
  </div>

  <!-- <button mat-fab class="theme-accent-dark sticky" id="add-button" matTooltip="Add new ingredient" matTooltipPosition="above" (click)="addIngredient()"><i class="material-icons" >add_shopping_cart</i></button> -->
</div>
