<div class="col-xs-12 col-xl-10 offset-xl-1">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null;" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" class="dark-blue-checkbox">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index">
          <mat-checkbox [(ngModel)]="row.isSelected"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null;"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>


      <!-- Position Column -->
      <!--
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container> -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name | lowercase}} </mat-cell>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
      </ng-container>

      <!-- Unit Column -->
      <ng-container matColumnDef="unit">
        <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element; let i=index" (click)="$event.stopPropagation()">
          <div fxLayout>
            <button mat-icon-button matTooltip="Edit ingredient" matTooltipPosition="above" (click)="editIngredient(element, i)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Delete ingredient" matTooltipPosition="above" class="mat-red-icon" (click)="deleteIngredient(element, i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; let i=index; columns: displayedColumns;"
        [ngClass]="{hovered: row.hovered && !selection.isSelected(row), highlighted: selection.isSelected(row)}"
        (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"
        (click)="selection.toggle(row); onToggle(i, selection.isSelected(row))"></mat-row>
    </table>
    <button mat-fab class="theme-accent-dark sticky" id="add-button" matTooltip="Add new ingredient" matTooltipPosition="above" (click)="addIngredient()"><i class="material-icons" >add_shopping_cart</i></button>
    <!-- <button mat-raised-button class="mat-yellow" (click)="onSave()">Save</button> -->


    <!-- <div *ngIf="ingredients.length > 0" style="margin: 15px 0;">
      -{{shoppingListService.getIngredients()[0].isSelected}}-
      <div *ngFor="let ingredient of ingredients">
        {{ingredient.name}}: {{ingredient.isSelected}}
      </div>
    </div> -->

  </div>
<!-- <mat-selection-list #list [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange($event)">
      <mat-divider></mat-divider>
      <div class="unique-selection-list">
        <mat-list-option class="dark-blue-checkbox" checkboxPosition="before"
          *ngFor="let ingredient of ingredients; let i = index" [value]="i" (click)="onEditItem(i)">
          {{ ingredient.name }} ({{ ingredient.amount }} {{ingredient.unit}})
          <mat-icon class="mat-red-icon" matListIcon><i class="fas fa-apple-alt"></i></mat-icon>
          <mat-divider></mat-divider>
        </mat-list-option>
      </div>
    </mat-selection-list>

    <br>
    {{selectedOptions}}

    <br><br><br><br>
    <app-shopping-edit></app-shopping-edit> -->
<!-- <hr>
    <ul class="list-group">
      <a class="list-group-item"
      style="cursor: pointer"
      *ngFor="let ingredient of ingredients; let i = index"
      (click)="onEditItem(i)"
      >
    {{ ingredient.name }} ({{ ingredient.amount }}<span *ngIf="ingredient.unit!==''"> {{ingredient.unit}}</span>)
    </a>
    </ul> -->

<!-- </div>
</div> -->

