<app-second-navbar-layout>
  <ng-container top>
    <div>CATEGORIES</div>

  </ng-container>
  <ng-container bottom>

    <mat-list>
      <a [routerLink]="['/new-recipes', 'all']" routerLinkActive="active">
        <mat-list-item>
          <i class="icofont-restaurant-menu"></i>
          All
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <div *ngFor="let category of categories">
        <a [routerLink]="['/new-recipes', category.urlSuffix]"  routerLinkActive="active">
          <mat-list-item>
<!--            <mat-icon matListIcon>{{category.iconName}}</mat-icon>-->
            <i [class]="category.iconName"></i>
            {{category.name}}
          </mat-list-item>

        </a>
        <mat-divider></mat-divider>
      </div>


    </mat-list>
  </ng-container>

</app-second-navbar-layout>
