<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="row">

        <div class="col-sm-5 form-group" [ngClass]="{'has-error': !name.valid && name.touched}">
          <label for="name">Name</label>
          <input   type="text" id="name" class="form-control"
          name="name" ngModel required #name="ngModel">
          <span class="help-block" *ngIf="!name.valid && name.touched">This field is required!</span>
        </div>

        <div class="col-sm-2 form-group" [ngClass]="{'has-error': !amount.valid && amount.touched}">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control"
          name="amount"
          ngModel
          required
          #amount="ngModel"
          [pattern]="'^[1-9]+[0-9]*$'">
          <span class="help-block" *ngIf="amount.invalid && amount.touched && !amount.errors.pattern">This field is required!</span>
          <span class="help-block" *ngIf="amount.invalid && amount.touched && amount.errors.pattern">Enter a valid number!</span>
        </div>

        <div class="col-sm-2 form-group">
          <label for="unit">Unit</label>
          <input type="text" id="unit" class="form-control"
          name="unit" ngModel>
        </div>

      </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success col-xs-3" type="submit" [disabled]="!form.valid">{{ editMode ? 'Save' : 'Add'}}</button>
            <button class="btn btn-danger col-xs-3" type="button" [disabled]="!editMode" (click)="onDelete()">Delete</button>
            <button class="btn btn-primary col-xs-3" type="button"
              (click)="onClear()">Clear</button>
              <!-- <button class="btn default col-xs-1" type="button" (click)="logForm()">Log</button> -->
          </div>
        </div>

    </form>
  </div>
</div>
