@grey_hover: var(--grey-hover);

mat-card.mat-card {
  border-radius: 5px;
  box-shadow: none;
  user-select: none;
  border: 1px solid #dadada;
  margin: 10px
}

mat-card-content {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.4;
  font-weight: 300;
}

.mat-card-avatar {
  border: 1px rgba(0, 0, 0, 0.12) solid;
  padding: 4px;
}


mat-card:hover {
  background-color: @grey_hover;

  mat-checkbox {
    display: block;
  }
}

:host ::ng-deep .mat-card-header-text {
  width: 180px;
}
