<div class="container">
  <div class="title">
    {{'[SignUp]SignUp' | translate}}
  </div>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field appearance="outline">
      <mat-label>{{'[SignUp]Login' | translate}}</mat-label>
      <input matInput name="username" type="text" required #username="ngModel" ngModel placeholder="{{'[SignUp]LoginPlaceholder' | translate}}">
      <mat-error *ngIf="!username.valid && username.touched"><i class="fas fa-exclamation-circle"></i>
        {{'[SignUp]LoginError' | translate}}
      </mat-error>
      <button type="button" disabled="disabled" mat-icon-button matPrefix>
        <mat-icon>account_box</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'[SignUp]Password' | translate}}</mat-label>
      <input matInput name="password" [type]="hide ? 'password' : 'text'" required #password="ngModel" ngModel
             placeholder="{{'[SignUp]PasswordPlaceholder' | translate}}">
      <mat-error *ngIf="!password.valid && password.touched"><i class="fas fa-exclamation-circle"></i>
        {{'[SignUp]PasswordError' | translate}}
      </mat-error>
      <button type="button" disabled="disabled" mat-icon-button matPrefix>
        <mat-icon>lock</mat-icon>
      </button>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'[SignUp]ConfirmPassword' | translate}}</mat-label>
      <input matInput name="confirmPassword" [type]="hide ? 'password' : 'text'" required #confirmPassword="ngModel" ngModel
             placeholder="{{'[SignUp]ConfirmPasswordPlaceholder' | translate}}">
      <mat-error *ngIf="!confirmPassword.valid && confirmPassword.touched"><i class="fas fa-exclamation-circle"></i>
        {{'[SignUp]ConfirmPasswordError' | translate}}
      </mat-error>
      <button type="button" disabled="disabled" mat-icon-button matPrefix>
        <mat-icon>lock</mat-icon>
      </button>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div id="submit-button">
      <button mat-raised-button class="theme-accent-dark" type="submit" [disabled]=!f.valid>{{'[SignUp]SignUpButton' | translate}}</button>
    </div>
  </form>

  <div class="registration">
    <a [routerLink]="['../']">{{'[SignUp]BackToLoginPage' | translate}}</a>
  </div>

</div>


