<app-top-bar-recipe-edit
  [editMode]="editMode"
  (onDiscard)="onDiscard()"
  (onSave)="onSave()">

</app-top-bar-recipe-edit>
<ng-scrollbar>
  <div class="wrapper">
    <div class="header">
      <h2>{{editMode ? 'EDIT RECIPE' : 'NEW RECIPE'}}</h2>
      <mat-divider></mat-divider>
    </div>
    <form #f="ngForm" (ngSubmit)="onSave()">
      <div class="columns">
        <div class="form-left">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput name="name" placeholder="Enter recipe name" [(ngModel)]="recipe.name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Servings</mat-label>
            <input matInput name="servings" placeholder="Enter servings number" type="number" [(ngModel)]="recipe.servings">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Kcal</mat-label>
            <input matInput name="kcal" placeholder="Enter amount of calories per serving" type="number" [(ngModel)]="recipe.kcal">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Preparation time</mat-label>
            <input matInput name="preparation" placeholder="Enter preparation time" [(ngModel)]="recipe.preparationTime">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Creation date</mat-label>
            <input matInput name="createdAt" placeholder="Enter creation date" [matDatepicker]="datepicker" [(ngModel)]="recipe.creationDate">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="recipe.category" name="food">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" name="description"
                      placeholder="Enter servings number" [(ngModel)]="recipe.description"></textarea>
          </mat-form-field>
        </div>

        <div class="form-right">
          <mat-form-field appearance="outline">
            <mat-label>Image URL</mat-label>
            <input matInput name="imagePath" placeholder="Enter image URL" [(ngModel)]="recipe.imagePath">
          </mat-form-field>
          <img *ngIf="recipe.imagePath!==''; else imagePlaceholder" [src]="recipe.imagePath" class="preview">
          <ng-template #imagePlaceholder>
            <img src="assets/images/placeholder-image.png" class="preview">
          </ng-template>
        </div>
      </div>
      <div class="header">
        <h2>INGREDIENTS</h2>
      </div>
      <div class="ingredients">
        <mat-card>
          <table *ngIf="recipe.ingredients.length > 0" mat-table [dataSource]="dataSource">


            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> {{'[Recipes]IngTableName' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name | lowercase}} </mat-cell>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef> {{'[Recipes]IngTableAmount' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
            </ng-container>

            <!-- Unit Column -->
            <ng-container matColumnDef="unit">
              <mat-header-cell *matHeaderCellDef> {{'[Recipes]IngTableUnit' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> {{'[Recipes]IngTableActions' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let element; let i=index" (click)="$event.stopPropagation()">
                <div fxLayout>
                  <!--                <button type="button" mat-icon-button matTooltip="{{'[Recipes]IngTableActionsEditTooltip' | translate}}" matTooltipPosition="above" (click)="editIngredient(element, i)">-->
                  <button type="button" mat-icon-button
                          matTooltip="{{'[Recipes]IngTableActionsEditTooltip' | translate}}" matTooltipPosition="above"
                          (click)="editIngredient(element)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button type="button" mat-icon-button
                          matTooltip="{{'[Recipes]IngTableActionsDeleteTooltip' | translate}}"
                          matTooltipPosition="above" class="mat-red-icon"
                          (click)="deleteIngredient(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; let i=index; columns: displayedColumns;"></mat-row>
          </table>
          <div class="floating-button">
            <button mat-mini-fab
                    type="button"
                    class="theme-accent"
                    matTooltip="Add Ingredient"
                    matTooltipPosition="above"
                    (click)="addIngredient()"
            >
              <i class="material-icons">add_shopping_cart</i>
            </button>
          </div>
        </mat-card>
      </div>
      <ng-template #noDataPlaceholder>
        <div id="noData">
          <img src="assets/images/placeholder-no-data.png">
        </div>
      </ng-template>
    </form>
  </div>

</ng-scrollbar>

<!--<p-dialog [(visible)]="editIngredientDialog.visible" [showHeader]="false" [modal]="true" [focusOnShow]="false" [closeOnEscape]="true">-->
<!--  <app-ingredient-dialog #editIngredientDialog-->
<!--                         [width]="250"-->
<!--                         [title]="'Edit ingredient'"-->
<!--                         [button1Class]="'theme-accent-danger'"-->
<!--                         [buttonWidth]="100"-->
<!--                         (onEdit)="updateIngredient($event)"-->
<!--                         (onAdd)="addIngredient($event)"-->
<!--  >-->
<!--  </app-ingredient-dialog>-->
<!--</p-dialog>-->




