:host {
  h5 {
    margin: 0 5px 0 5px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    letter-spacing: 0.7px;
    font-weight: 700;
  }

  #default {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  #searchPanel {
    width: 600px;
    display: flex;
    align-items: center;
    margin-right: auto;


    #back {
      margin-right: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;

      mat-icon {
        font-size: 30px;
        height: 30px;
        width: 30px;
        color: rgba(0, 0, 0, 0.7);
      }

      &:hover {
        mat-icon, h5 {
          color: @primary;
        }
      }

    }
  }

  .icons {
    display: flex;
    //justify-content: flex-end;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);

    mat-icon {
      margin: 0 10px;
      cursor: pointer;
    }

    i {
      margin: 0 10px;
      cursor: pointer;
      font-size: 20px;
    }
  }

  .selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .left, .right {
      display: flex;
    }
    .select {
      display: flex;
      align-items: center;
      margin-right: 20px;
      cursor: pointer;
      i, mat-icon {
        margin: 0 5px;
        font-size: 25px;
      }
      &:hover {
        i, h5 {
          color: @primary;
        }
      }
    }

  }


  //   SEARCHING   //

  @primary: var(--th-accent);

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  ::ng-deep .mat-form-field {
    line-height: 0.8;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 0.1em;
    padding-bottom: 0.4em;
    padding-left: 0.3em;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    width: 500px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #dadada;
  }

  ::ng-deep .mat-form-field-infix {
    border-top: 0;
  }

  ::ng-deep .mat-form-field-outline-thick {
    color: @primary !important;
  }
}

@media only screen and (max-width: 600px) {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    width: 100% !important;
  }
}






