  <app-top-bar>
    <div id="searchPanel" *ngIf="searchMode">
      <div id="back" (click)="switchSearchMode()">
          <mat-icon>keyboard_backspace</mat-icon>
          <h5>BACK</h5>
      </div>
      <mat-form-field appearance="outline" style="width: 100%">
        <input matInput
               [(ngModel)]="searchWord"
               (input)="searchThis()"
               [matAutocomplete]="auto"
               placeholder="Find the recipe"
               name="name"
               #name="ngModel"
               (ngModelChange)="doFilter()">
        <button type="button" disabled="true" mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let recipe of recipes | async" [value]="recipe.name">
          {{recipe.name}}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="selection" *ngIf="selectionMode">
      <div class="left" *ngIf="!searchMode">
        <div class="select" (click)="selectAll()">
          <i class="fas fa-check-square"></i>
          <h5>SELECT ALL</h5>
        </div>
        <div class="select" (click)="unselectAll()">
          <i class="far fa-square"></i>
          <h5>UNSELECT ALL</h5>
        </div>
      </div>
    </div>
      <div class="icons" *ngIf="selectionMode">
        <i class="fas fa-trash-alt" matTooltip="Delete selected"></i>
      </div>

    <div id="default" *ngIf="!searchMode && !selectionMode">
      <div class="icons" >
        <i class="fas fa-search" matTooltip="Search" (click)="switchSearchMode()"></i>
        <i class="fas fa-plus-circle" matTooltip="Add New Recipe" [routerLink]="['../', 'new']"></i>
      </div>
    </div>

  </app-top-bar>


