<div class="container">
  <div class="col-xs-12">
    <button mat-raised-button class="mat-yellow" (click)="onNewRecipe()">
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="5px">
        <mat-icon>add_circle_outline</mat-icon>
        <span>{{'[Recipes]NewRecipe' | translate}}</span>
      </div>
    </button>
  </div>
  <mat-divider style="margin: 10px"></mat-divider>
  <div class="col-xs-12">
    <div class="list-group">
      <app-recipe-item *ngFor="let recipeEl of recipes" [recipe]="recipeEl">
      </app-recipe-item>
    </div>
  </div>
</div>
