<app-second-navbar-layout>
  <ng-container top>
    <div>CATEGORIES</div>

  </ng-container>
  <ng-container bottom>

    <mat-list>
      <a [routerLink]="['/new-recipes']" [queryParams]="{category: 'All'}" routerLinkActive="active">
        <mat-list-item>
          <mat-icon matListIcon>menu_book</mat-icon>
          All
        </mat-list-item>
      </a>
      <a *ngFor="let category of categories" [routerLink]="['/new-recipes']" [queryParams]="{category: category.name}" routerLinkActive="active">
        <mat-list-item>
          <mat-icon matListIcon>{{category.iconName}}</mat-icon>
          {{category.name}}
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>

    </mat-list>
  </ng-container>

</app-second-navbar-layout>
