.container {
  margin-bottom: 15px;
}

.text-orange {
  color: rgb(255, 169, 2);
}

h1 {
  text-align: center;
}

img {
  max-width: 80vw;
  height: auto;
  max-height: 350px;
}

@media all and (max-width: 599px){
  h1 {
    font-size: x-large;
  }
}

