<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async)}"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="theme-accent-dark">Menu</mat-toolbar>
    <mat-nav-list role="navigation">
<!--      SIDENAV Login Link -->
      <a mat-list-item *ngIf="!isAuthenticated" routerLinkActive="active" routerLink="/auth" (click)="drawer.toggle()">
        <mat-icon>lock</mat-icon>
        <span class="nav-caption">Login</span>

      </a>
<!--      SIDENAV Recipes Link -->
      <a mat-list-item *ngIf="isAuthenticated" routerLinkActive="active" routerLink="/recipes" (click)="drawer.toggle()">
        <mat-icon class="icon">menu_book</mat-icon>
        <span class="nav-caption">Recipes</span>

      </a>
<!--      SIDENAV Shopping List Link -->
      <a mat-list-item *ngIf="isAuthenticated && false" routerLinkActive="active"
        routerLink="/shopping-list" (click)="drawer.toggle()">
        <mat-icon class="icon">shopping_cart</mat-icon>
        <span class="nav-caption">Shopping List</span>
      </a>
<!--      SIDENAV Logout Link -->
      <a mat-list-item *ngIf="isAuthenticated" (click)="onLogout(); drawer.toggle()">
        <mat-icon class="icon">input</mat-icon>
        <span class="nav-caption">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="theme-accent-dark">
      <mat-toolbar-row>
<!--          sidenav menu button (tylko jeśli rozmiar okna xs) -->
        <button mat-icon-button (click)="drawer.toggle()" fxHide.gt-xs>
          <mat-icon>menu</mat-icon>
        </button>
<!--          NAGŁÓWEK RECIPE BOOK -->
        <a class="toolbar-header" routerLink="/">RECIPE BOOK</a>

        <div fxFlex fxLayout fxHide.lt-sm>
<!--          zakładka Recipes -->
          <a mat-button *ngIf="isAuthenticated" routerLinkActive="active" routerLink="/recipes" >
            <!-- <div class="d-flex justify-content-around align-items-center"> -->
            <mat-icon class="icon">menu_book</mat-icon>
            <span class="label">Recipes</span>
          <!-- </div> -->
          </a>


<!--          zakładka Shopping List -->
          <a mat-button *ngIf="isAuthenticated && false" routerLinkActive="active" routerLink="/shopping-list">
            <mat-icon class="icon">shopping_cart</mat-icon>
            <span class="label">Shopping List</span>
          </a>

          <span class="spacer"></span>

<!--          zakładka Login -->
          <a mat-button *ngIf="!isAuthenticated" routerLinkActive="active" routerLink="/auth">
            <mat-icon class="icon">lock</mat-icon>
            <span class="label">Login</span>
          </a>
<!--          zakładka Logout -->
          <a mat-button *ngIf="isAuthenticated" (click)="onLogout()">
            <mat-icon class="icon">input</mat-icon>
            <span class="label">Logout</span>
          </a>

        </div>
      </mat-toolbar-row>
    </mat-toolbar>
<!--          tutaj wchodzi router-outlet -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>

