:host {
  .sidenav-container {
    height: 100%;
    background: #fff !important;
    .sidenav {
      width: 75%;
      mat-nav-list {
        &.mat-list-base {
          padding-top: 0 !important;
        }
        a[mat-list-item] {
          display: flex;
          align-items: flex-start;
        }
        a.mat-list-item.active {
          background-color: rgb(233, 233, 233);
        }
        a.mat-list-item:focus,
        a.mat-list-item:active  {
          background-color: #FFFFFF;
        }

        a:hover,
        a:active {
          color: black;
        }

        mat-icon {
          display: flex;
          align-items: center;
        }
      }

    }
    .mat-sidenav-content {
      overflow: hidden !important;
      .toolbar-header {
        color: white;
        font-size: 25px;
        font-weight: bold;
        margin-right: 15px;
        letter-spacing: 1.5px;
      }

    }
    .mat-toolbar {
      position: sticky;
      top: 0;
      z-index: 15;
      a.mat-button {
        cursor: pointer;
        color: rgb(207, 207, 207);
      }
      a.mat-button.active {
        color: #FFFFFF;
      }
      a:hover{
        color: rgb(255, 255, 255);
      }
      .title {
        font-family: "YanoneKaffeesatz";
        font-size: 35px;
        letter-spacing: 2.5px;
      }
      #menu-toggle-button {
          font-size: 40px;
        color: white;
        cursor: pointer;
      }
    }
    a:hover {
      color: white;
      text-decoration: none;
    }
    .hidden {
      display: none;
    }
    .spacer {
      flex: 1 1 auto;
    }
    .icon {
      margin-right: 0.7rem;
      height: 28px;
      width: 28px;
      font-size: 28px;
    }
    mat-list-item i {
      font-size: 35px;
      margin-right: 0.7rem;
    }
    [mat-list-item] {
      display: flex;
      align-items: center;
    }
    .mat-list-item-content {
      height: 48px !important;
    }
  }

}



////   ANGULAR MATERIAL   //

//   LANGUAGE MENU   //

.mat-radio-button {
  padding: 10px 30px;
  font-size: 18px;

  img {
    height: 22px;
    margin-right: 10px;
  }
  ::ng-deep label.mat-radio-label {
    margin-bottom: 0 !important;
  }
}

::ng-deep .mat-radio-container {
  margin-right: 15px;
}

::ng-deep .mat-radio-label-content {
  letter-spacing: 2px;
}

.menu {
  padding: 0;
}

::ng-deep .mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  width: 250px;
}

//   EXPANDING PANEL   //
::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

::ng-deep .mat-expansion-panel-header {
  padding: 0 16px !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 20px !important;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
  height: 48px;
}

.mat-expansion-panel-header {
  font-size: 16px;
}

::ng-deep .mat-content {
  height: 48px !important;
}




