:host {
  width: 60%;
  height: 100%;
}

#ingredients  {
  .mat-card {
    padding: 0px;
  }
  .mat-card-header {
    padding: 16px 0 0 16px;
  }
}



button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-card .mat-card-header .mat-card-title .mat-icon {
  margin-right: 7px;
}

.mat-option.mat-active {
  background: rgba(0,0,0,0);
}
.mat-option:hover {
  background: #b5d9ff;
  color: black;
}

img {
  margin-top: 15px;
  margin-bottom: 15px;
}


.mat-row:nth-child(even){
  background-color: rgb(245, 245, 245);
  }

@media all and (max-width: 599px){

  .mat-column-name {
    flex: 0 0 60%;
  }
  .mat-column-amount {
    flex: 0 0 20%;
  }
  .mat-column-unit {
    flex: 0 0 20%;
  }

}
