:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo {
    position: relative;
    img {
      max-width: 100%;
      height: auto;
      //max-height: 450px;
      max-height: 500px;
    }
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      font-family: "YanoneKaffeesatz";
      background-color: rgba(0,0,0,0.6);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 45px;
      letter-spacing: 2.5px;
      user-select: none;
    }
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0 40px 0;
    width: 100%;
    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 50px 0 50px;
      i {
        color: rgba(0,0,0,0.7);
        font-size: 60px;
        height: 60px;
        width: 60px;
      }
      .icon-header {
        color: rgba(0,0,0,0.7);
        font-size: 18px;
        font-weight: 600;
      }
      .icon-value {
        color: rgba(0,0,0,0.7);
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin: 0 0 40px 0;
    .sectionHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 1px solid #dadada;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 500;
      color: rgba(0,0,0,0.7);
      text-align: center;
      padding: 12px;
      i {
        font-size: 22px;
        margin-right: 15px;
      }
    }
    #ingredients {
      display: flex;
      flex-direction: column;
      width: 30%;
      margin-left: 5%;
      .ingredientsTable {
        display: flex;
        flex-direction: column;
      }
      .ingredientsItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #dadada;
        border-left: 1px solid #dadada;
        border-right: 1px solid #dadada;
        padding: 10px 15px 10px 15px;
        i {
          margin-right: 10px;
        }
      }

    }
    #description {
      display: flex;
      flex-direction: column;
      width: 54%;
      margin-left: 6%;
      .sectionTitle {
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 500;
        color: rgba(0,0,0,0.7);
        text-align: center;
      }
      .sectionContent {
        border: 1px solid #dadada;
        padding: 10px 15px 10px 15px;
        margin-top: -1px;
        line-height: 30px;
      }
    }
  }
}

@media all and (min-width: 599px){

  .mat-column-id {
    flex: 0 0 20%;
  }
  .mat-column-name {
    flex: 0 0 90%;
  }
  //.mat-column-amount {
  //  flex: 0 0 20%;
  //}
  //.mat-column-unit {
  //  flex: 0 0 20%;
  //}
}

@media all and (max-width: 599px){

  .mat-column-name {
    flex: 0 0 60%;
  }
  .mat-column-amount {
    flex: 0 0 20%;
  }
  .mat-column-unit {
    flex: 0 0 20%;
  }
}

//.mat-row:nth-child(even){
//  background-color: #fafafa;
//}




