<app-top-bar-recipe-detail></app-top-bar-recipe-detail>
<ng-scrollbar>
  <div class="container">
    <div class="photo">
      <img [src]="recipe.imagePath">
      <div class="title">
        {{recipe.name | uppercase}}
      </div>
    </div>
    <div class="icons">
      <div class="icon">
        <i class="icofont-restaurant"></i>
        <span class="icon-header">Servings</span>
        <span class="icon-value">4</span>
      </div>
      <div class="icon">
        <i class="icofont-clock-time"></i>
        <span class="icon-header">Preparing time</span>
        <span class="icon-value">45 - 60min</span>
      </div>
      <div class="icon">
        <i class="icofont-food-basket"></i>
        <span class="icon-header">Ingredients</span>
        <span class="icon-value">{{recipe.ingredients.length}}</span>
      </div>
    </div>
    <div class="content">
      <div class="ingredients">
        <mat-card>
<!--          <mat-card-header>-->
<!--            <mat-card-title class="d-flex align-items-center">-->
<!--              <mat-icon>shopping_cart</mat-icon>-->
<!--              {{'[Recipes]Ingredients' | translate}}-->
<!--            </mat-card-title>-->
<!--          </mat-card-header>-->
          <mat-card-content>
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element"> <i class="fas fa-angle-right"></i> </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> INGREDIENTS </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}}: {{element.amount}} {{element.unit}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef> {{'[Recipes]IngTableAmount' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="unit">
                <mat-header-cell *matHeaderCellDef> {{'[Recipes]IngTableUnit' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
              </ng-container>

<!--                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="description">
        <span class="sectionTitle">DESCRIPTION</span>
        {{recipe.description}}
      </div>
    </div>


  </div>

</ng-scrollbar>



