<app-top-bar-recipe-detail
  (onEdit)="onEdit()"
  (onDelete)="onDelete()"></app-top-bar-recipe-detail>
<ng-scrollbar>
  <div class="wrapper">
    <div class="photo">
      <img [src]="recipe.imagePath" class="img-fluid">
      <div class="title">
        {{recipe.name | uppercase}}
      </div>
    </div>
    <div class="icons">
      <div class="icon" *ngIf="recipe.servings">
        <i class="icofont-dining-table"></i>
        <span class="icon-header">Servings</span>
        <span class="icon-value">{{recipe.servings}}</span>
      </div>
      <div class="icon" *ngIf="recipe.kcal">
        <i class="icofont-feedburner"></i>
        <span class="icon-header">Kcal</span>
        <span class="icon-value">{{recipe.kcal}} / porcja</span>
      </div>
      <div class="icon" *ngIf="recipe.preparationTime">
        <i class="icofont-clock-time"></i>
        <span class="icon-header">Preparation time</span>
        <span class="icon-value">{{recipe.preparationTime}}</span>
      </div>
      <div class="icon">
        <i class="icofont-food-basket"></i>
        <span class="icon-header">Ingredients</span>
        <span class="icon-value">{{recipe.ingredients.length}}</span>
      </div>
    </div>
    <div class="content" [ngStyle.lt-md]="{'flex-direction': 'column'}">

      <div id="ingredients">
        <div class="sectionHeader">
          <i class="fas fa-shopping-basket"></i>
          <span>INGREDIENTS</span>
        </div>
        <div class="ingredientsTable" *ngFor="let ingredient of recipe.ingredients, let i=index">
          <div class="ingredientsItem" [style.background-color]="i%2 === 1 ? '#f4f4f4':'white'">
            <i class="fas fa-chevron-right"></i>
            {{ingredient.name}}: {{ingredient.amount}} {{ingredient.unit}}</div>
        </div>
      </div>
      <div id="description">
        <div class="sectionHeader">
          <i class="fas fa-file-alt"></i>
          <span>DESCRIPTION</span>
        </div>
        <div class="sectionContent" [innerHTML]="recipe.description" style="white-space: pre-wrap;">

        </div>
      </div>
    </div>


  </div>

</ng-scrollbar>



