<div class="col-xs-12">
  <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid" style="max-height: 400px;">
</div>
<div class="col-xs-12">
  <h1>{{ recipe.name }}</h1>
</div>
<div style="margin-bottom: 20px;">
  <div class="col-xs-12">

    <div>
      <button
        mat-raised-button
        class="theme-accent-dark"
      (click)="select.open()">
        {{'[Recipes]ManageRecipe' | translate}}
        <mat-icon>arrow_drop_down</mat-icon>
      </button><br>
      <mat-select
        #select
        style="visibility:hidden;width: 0">
        <mat-option (click)="onEditRecipe()" style="cursor: pointer;">{{'[Recipes]EditRecipe' | translate}}</mat-option>
        <mat-option (click)="onDeleteRecipe()" style="cursor: pointer;">{{'[Recipes]DeleteRecipe' | translate}}</mat-option>
      </mat-select>

    </div>
  </div>
</div>
<div class="col-xs-12">
  <mat-card>
    <mat-card-header>

      <mat-card-title class="d-flex align-items-center justify-content-between">
        <mat-icon>description</mat-icon>
        {{'[Recipes]Description' | translate}}</mat-card-title>

    </mat-card-header>
    <mat-card-content><p style="padding: 10px; white-space: pre-wrap;">{{ recipe.description }}</p></mat-card-content>
  </mat-card>
</div>
<br>

<div id="ingredients" class="col-xs-12" >
  <mat-card>
    <mat-card-header>
      <mat-card-title class="d-flex align-items-center">
        <mat-icon>shopping_cart</mat-icon>
        {{'[Recipes]Ingredients' | translate }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource">


        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> {{'[Recipes]IngTableName' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> {{'[Recipes]IngTableAmount' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="unit">
          <mat-header-cell *matHeaderCellDef> {{'[Recipes]IngTableUnit' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
    </mat-card-content>

  </mat-card>
</div>
<br>
