<app-card-template>
  <mat-icon avatar class="material-icons-outlined">{{_recipe.category.iconName}}</mat-icon>
<ng-container title>
  {{_recipe.name}}
</ng-container>
  <ng-container subtitle>
    {{_recipe.category.name}}
  </ng-container>
  <ng-container image>
    <div mat-card-image style="display: flex"  image>
      <img [src]="_recipe.imagePath" class="w-100">
    </div>
  </ng-container>
  <ng-container content>
    {{_recipe.description | truncate:200}}
  </ng-container>
</app-card-template>
