<div class="col-xs-12" fxFlexOrder.lt-sm="3">
  <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid" style="max-height: 400px;">
</div>
<div class="col-xs-12">
  <h1>{{ recipe.name }}</h1>
</div>
<div style="margin-bottom: 20px;">
  <div class="col-xs-12">

    <div class="dropdown" *ngIf="isAdminMode">
      <button mat-raised-button  class="dropdown-toggle theme-accent-dark" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Manage Recipe <span class="caret"></span></button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a>
        <a class="dropdown-item" (click)="onEditRecipe()" style="cursor: pointer;">Edit Recipe</a>
        <a class="dropdown-item" (click)="onDeleteRecipe()" style="cursor: pointer;">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <mat-card>
    <mat-card-header>

      <mat-card-title class="d-flex align-items-center justify-content-between">
        <mat-icon>description</mat-icon>
        Description</mat-card-title>

    </mat-card-header>
    <mat-card-content><p style="padding: 10px; white-space: pre-wrap;">{{ recipe.description }}</p></mat-card-content>
  </mat-card>
</div>
<br>

<div id="ingredients" class="col-xs-12" >
  <mat-card>
    <mat-card-header>
      <mat-card-title class="d-flex align-items-center">
        <mat-icon>shopping_cart</mat-icon>
        Ingredients
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource">


        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="unit">
          <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
    </mat-card-content>

  </mat-card>
</div>
<br>
